
.blog-wrap {
    .blog-img {
        position: relative;
        overflow: hidden;
        img {
            width: 100%;
            transform: scale(1);
            transition: all .5s ease 0s;
        }
        span {
            position: absolute;
            top: 10px;
            left: 10px;
            display: block;
            line-height: 1;
            color: $white;
            font-size: 13px;
            font-weight: 500;
            padding: 4px 8px 5px;
            background-color: $theme-color;
        }
    }
    .blog-content-wrap {
        text-align: center;
        .blog-content {
            display: inline-block;
            background-color: $white;
            padding: 15px 30px;
            margin: -64px 0 0;
            z-index: 99;
            position: relative;
            max-width: 85%;
            width: 100%;
            @media #{$lg-layout, $xs-layout}{
                padding: 14px 30px;
                margin: -50px 0 0;
            }
            @media #{$sm-layout}{
                padding: 14px 15px;
            }
            h3 {
                font-size: 20px;
                font-weight: 500;
                line-height: 30px;
                margin: 0 0 5px;
                @media #{$sm-layout}{
                    font-size: 18px;
                    line-height: 27px;
                }
            }
            span {
                color: $paragraph;
                font-style: italic;
                a {
                    color: $paragraph;
                    &:hover {
                        color: $theme-color;
                    }
                }
            }
        }
    }
    .blog-content-3 {
        background-color: #f6f3f3;
        padding: 25px 42px 27px;
        @media #{$lg-layout, $xs-layout}{
            padding: 25px 15px 27px;
        }
        h3 {
            font-size: 20px;
            font-weight: 500;
            margin: 0 0 7px;
            line-height: 30px;
            @media #{$lg-layout, $xs-layout}{
                font-size: 18px;
            }
            a {
                color: $black;
                &:hover {
                    color: $theme-color;
                }
            }
        }
        span {
            color: $black;
            font-style: italic;
            a {
                color: #b0afaf;
                &:hover {
                    color: $theme-color;
                }
            }
        }
    }
    &:hover .blog-img img{
        transform: scale(1.2);
    }
}

/* blog page */
.blog-wrap-2 {
    box-shadow: 0 3px 5px rgba(85, 85, 85, 0.2);
    .blog-img-2 {
        overflow: hidden;
        position: relative;
        a {
            img {
                width: 100%;
                transform: scale(1);
                transition: all .5s ease 0s;
            }
        }
    }
    .blog-content-2 {
        padding: 25px 30px 34px;
        @media #{$lg-layout, $md-layout} {
            padding: 25px 20px 34px;
        }
        @media #{$xs-layout} {
            padding: 20px 15px 29px;
        }
        .blog-meta-2 {
            display: flex;
            ul {
                li {
                    color: $dark;
                    display: inline-block;
                    font-size: 14px;
                    letter-spacing: 1px;
                    list-style: outside none none;
                    margin: 0 17px 0 0;
                    position: relative;
                    text-transform: uppercase;
                    display: inline-block;
                    line-height: 1;
                    &::before {
                        background-color: #555;
                        content: "";
                        height: 2px;
                        position: absolute;
                        right: -13px;
                        top: 6px;
                        transition: all 0.4s ease 0s;
                        width: 5px;
                    }
                    &:last-child::before {
                        display: none;
                    }
                    a {
                        color: #555;
                        &:hover {
                            color: $theme-color;
                        }
                    }
                }
            }
        }
        h4 {
            font-size: 22px;
            font-weight: 500;
            margin: 10px 0 20px;
            color: $dark;
            @media #{$xs-layout} {
                margin: 10px 0 12px;
            }
            a {
               color: $dark; 
                &:hover {
                    color: $theme-color;
                }
            }
        }
        p {
            margin: 0;
            color: $paragraph;
        }
        .blog-share-comment {
            display: flex;
            justify-content: space-between;
            margin: 22px 0 0;
            @media #{$xs-layout} {
                margin: 14px 0 0;
            }
            .blog-btn-2 {
                a {
                    color: $dark;
                    display: inline-block;
                    font-size: 15px;
                    font-weight: 500;
                    letter-spacing: 0.2px;
                    margin-top: 4px;
                    text-transform: capitalize;
                    &:hover {
                        color: $theme-color;
                    }
                }
            }
            .blog-share {
                span {
                    color: $dark;
                    float: left;
                    font-size: 15px;
                    margin-right: 12px;
                    margin-top: 3px;
                    text-transform: capitalize;
                }
                .share-social {
                    float: left;
                    @media #{$xs-layout} {
                        margin-top: 4px;
                    }
                    ul {
                        li {
                            display: inline-block;
                            margin-right: 5px;
                            &:last-child {
                                margin-right: 0;
                            }
                            a {
                                border-radius: 50px;
                                color: $white;
                                display: inline-block;
                                font-size: 14px;
                                height: 30px;
                                line-height: 28px;
                                text-align: center;
                                width: 30px;
                                @media #{$xs-layout} {
                                    font-size: 12px;
                                    height: 25px;
                                    line-height: 23px;
                                    width: 25px;
                                }
                                &.facebook {
                                    background-color: #3b5998;
                                    border: 1px solid #3b5998;
                                    &:hover {
                                        background-color: transparent;
                                        color: #3b5998;
                                    }
                                }
                                &.twitter {
                                    background-color: #55acee;
                                    border: 1px solid #55acee;
                                    &:hover {
                                        background-color: transparent;
                                        color: #55acee;
                                    }
                                }
                                &.instagram {
                                    background-color: #c32aa3;
                                    border: 1px solid #c32aa3;
                                    &:hover {
                                        background-color: transparent;
                                        color: #c32aa3;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    &:hover .blog-img-2 img {
        transform: scale(1.1);
    }
}

/*-------- 7. Blog style  ----------*/
.blog-area {
    @media #{$lg-layout, $md-layout, $xs-layout} {
        .ml-20 {
            margin-left: 0;
        }
        .mr-20 {
            margin-right: 0;
        }
    }
    @media #{$xs-layout} {
        .pro-pagination-style.mt-20 {
            margin-top: 0;
        }
    }
}
.blog-details-wrapper.ml-20 {
    @media #{$lg-layout, $md-layout, $xs-layout} {
        margin-left: 0;
    }
}
.blog-area {
    @media #{$xs-layout} {
        &.pb-100 {
            padding-bottom: 45px;
        }
    }
    &.blog-no-sidebar {
        .blog-content-2 {
            h4 {
                font-size: 20px;
                @media #{$xs-layout} {
                    font-size: 17px;
                }
                @media #{$sm-layout} {
                    font-size: 20px;
                }
            }
            .blog-share-comment {
                .blog-share {
                    .share-social {
                        @media #{$lg-layout} {
                            margin-top: 4px;
                        }
                        ul {
                            li {
                                @media #{$lg-layout} {
                                    margin-right: 3px;
                                }
                                a {
                                   @media #{$lg-layout} {
                                        font-size: 12px;
                                        height: 25px;
                                        line-height: 23px;
                                        width: 25px;
                                    } 
                                }
                            }
                        }
                    }
                }
            }
        } 
    }
}
.blog-without-sidebar {
    .blog-area.pb-100 {
        @media #{$xs-layout} {
            padding-bottom: 60px;
        }
    }
}

.home-fashion-two {
    .blog-area {
        @media #{$xs-layout} {
            padding-top: 30px;
        }
    }
}